APP_NAME="Web Database Manager"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_SYSTEM_CONNECTION=sqlite
# For SQLite, the following DB_SYSTEM_* variables are ignored.
# The system will automatically create database/system.sqlite
# DB_SYSTEM_CONNECTION=mysql
DB_SYSTEM_HOST=127.0.0.1
DB_SYSTEM_PORT=3306
DB_SYSTEM_DATABASE=web_db_manager
DB_SYSTEM_USERNAME=root
DB_SYSTEM_PASSWORD=

SESSION_LIFETIME=120
