<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <!-- Use this file only when the site points to the project root. -->
                <rule name="DB Manager public assets" stopProcessing="true">
                    <match url="^assets/(.*)$" />
                    <action type="Rewrite" url="public/assets/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="DB Manager front controller" stopProcessing="true">
                    <match url="^(?!public(?:/|$)).*$" />
                    <action type="Rewrite" url="public/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
